APP_NAME=РОББО China Trips API
APP_ENV=local
DEBUG=true
API_PREFIX=/api/v1

POSTGRES_USER=postgres
POSTGRES_PASSWORD=28egor28
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=chinatour

CORS_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,https://china.hochuvseznat.club

RATE_LIMIT_DEFAULT=60/minute
RATE_LIMIT_LEADS=5/minute
TRUST_PROXY_HEADERS=false

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_TIMEOUT_SECONDS=8
